<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="path" value="Database\Orari_v1.bak" />
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=ARLINDH\ARLINDH;Initial Catalog=Orari;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="conn1" connectionString="Server=LEENDY\LEENDY;AttachDbFilename=C:\Users\Arlind Hajdari\Documents\Visual Studio 2015\Projects\ScheduleManagementSystem\Orari\ScheduleManagementSystem\data\Orari_v1.mdf;Database=Orariv1;Trusted_Connection=Yes;Integrated Security=True;" />
    <add name="ScheduleManagementSystem.Properties.Settings.Orari_v1ConnectionString"
      connectionString="Data Source=HP-PC;Initial Catalog=Orari_v1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="conni"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Orari.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>